:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;
  
  }


  @media (min-width: 375px)and (max-width: 1127px) {


















    
  }